.events-bg-container {
  max-width: 1300px;
  width: 90%;
  margin: 50px auto;
  display: flex;
}

.events-detailed-container {
  background-color: #3a4b63;
  padding: 20px;
  width: 50%;
}

.main-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto';
}

@media (min-width: 992px) {
  .main-heading {
    font-size: 34px;
  }
}

.events-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
